form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
    color: rgba(0,0,0,.6);
}

input {
    border: 1px solid rgba(0,0,0,.1) !important;
    height: 20px;
}

button {
    height: 20px !important;
    border: none !important;
    padding: 8px !important;
    box-sizing: content-box !important;
    background: rgba(200,210,255,.6);
    cursor: pointer;
}

button:hover {
    background: rgba(200,210,255,.8);
}

.error {
    color: red;
}

::placeholder {
    color:rgba(0,0,0,.4)
}